*{
  Margin: 0;
  Padding: 0; 
  Box-sizing: border-box;
}
h1 {
  font-size: 40px; 
}
nav {
  display: flex; 
  justify-content: center;
  margin: 1.5em; 

}

h4 {
  margin-bottom: 10px; 
}

ul {
  list-style: none; 
  cursor: pointer;
  max-width: 2em;
}

ul li {
  font-size: 14px; 
}
ul li:hover {
  color: red; 
  width: 100%;
}
label {
  font-size: 26px; 
  margin-bottom: 5px; 
}

.forms {
  padding: 5px; 
  margin-left: 40%;
}

.btn {
  margin-top: 10px; 
}

.samples {
  margin-left: 40px; 
}

.image {
  display: flex; 
  justify-content: center;
}

#stylePara {
  display: flex; 
  justify-content: center;
  white-space: pre;
  margin-top: 10px; 
  font-size: 18px; 
}